@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

:root {
    /* Colors */
    --off-white: #FAFAFA;
    --gray: #4D4F62;
    --aquamarine: #44D3D2;
    --tomato: #EA5454;
    --yellow: #FCAE4A;
    --blue: #549EF2;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
