@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

:root {
    /* Colors */
    --off-white: #FAFAFA;
    --gray: #4D4F62;
    --aquamarine: #44D3D2;
    --tomato: #EA5454;
    --yellow: #FCAE4A;
    --blue: #549EF2;

    /* Font sizes */
    --heading-1-mobile: 1.5rem;
    --heading-1-desktop: 2.25rem;
    --heading-2: 1.25rem;
    --text-1: 0.9375rem;
    --text-2: 0.8125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

article {
    background-color: white;
    box-shadow: 0 15px 30px -11px rgb(131 166 210 / 0.5);
    padding: 28px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

article img {
    align-self: flex-end;
}

article p {
    font-size: var(--text-2);
    line-height: 1.7692;
    letter-spacing: 0.005625rem;
    margin-bottom: 33px;
}

body {
    height: 100vh;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--gray);
    background-color: var(--off-white);
}

.container {
    padding: 32px;
}

.decoration {
    height: 3.55px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Decoration colors*/
.aquamarine {
    background-color: var(--aquamarine);
}
.tomato {
    background-color: var(--tomato);
}
.yellow {
    background-color: var(--yellow);
}
.blue {
    background-color: var(--blue);
}

header {
    text-align: center;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: minmax(16rem, 33.75rem);
    justify-content: center;
}

header p {
    font-size: var(--text-1);
    line-height: 1.6667;
    letter-spacing: 0.00625rem;
}

h1 {
    font-size: var(--heading-1-mobile);
    letter-spacing: 0.010625rem;
    margin-bottom: 16px;
}

h2 {
    font-size: var(--heading-2);
    font-weight: 600;
}

.heading-light {
    font-weight: 200;
}

.heading-bold {
    font-weight: 600;
    margin: -3px 0;
}

img {
    display: block;
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 21.875rem));
    justify-content: center;
    gap: 24px;
}

p {
    opacity: 0.5;
}

@media (min-width: 37.5rem) {
    
    h1 {
        font-size: var(--heading-1-desktop);
        letter-spacing: 0.015625rem;
    }

    article {
        padding: 32px;
    }

    article p {
        margin-bottom: 46px;
    }

    article img {
        height: 64px;
        width: 64px;
    }

    .decoration {
        height: 4px;
    }

    main {
        gap: 30px;
    }

}

@media (min-width: 62rem) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        grid-template-columns: repeat(3, minmax(auto, 21.875rem));
        grid-template-areas:
            ". top ."
            "left top right"
            "left bottom right"
            ". bottom .";
    }
    
    article:nth-child(1) {
        grid-area: left;
    }

    article:nth-child(2) {
        grid-area: top;
    }

    article:nth-child(3) {
        grid-area: bottom;
    }

    article:nth-child(4) {
        grid-area: right;
    }

}

@media (min-width: 62rem) and (min-height: 48rem) {

    body {
        justify-content: center;
    }

}
